%h1 #{@movie[:title]} - #{@movie[:year]}
=image_tag(@movie[:poster_url], alt: "Poster for #{@movie[:title]}")

%h2 compare with
=render 'shared/search_bar'

%h2 Synopsis
%p= @movie[:plot]

%h2 Written by
-@movie[:cast][:writers].each do |writer|
	%p
		%a{ href: "/view?p=#{writer[:imdb_id]}", title: "#{writer[:name]}"}
			#{writer[:name]}

%h2 Directed by
-@movie[:cast][:directors].each do |director|
	%p
		%a{ href: "/view?p=#{director[:imdb_id]}", title: "#{director[:name]}"}
			#{director[:name]}

%h2 Starring (#{@movie[:cast][:actors].size}) actors
-@movie[:cast][:actors].each do | actor |
	%p
		%a{ href: "/view?p=#{actor[:imdb_id]}", title: "#{actor[:name]}" }
			#{actor[:name]}